// Font
$font-stack: "Helvetica Neue",Helvetica,Arial,sans-serif;

/* Basic Colors */
$navy: #1ab394;           // Primary color
$dark-gray: #C3B0A3;      // Default color
$blue: #1c84c6;           // Success color
$lazur: #23c6c8;          // Info color
$yellow: #FFAB00;         // Warrning color
$red: #E02121;            // Danger color
$choco: #705E4F;          // Choco color
$mud: #C3A473;          	// mud color

/* Various colors */
$text-color: #676a6c;           // Body text
$gray: #F8F3EF;                 // Background wrapper color
$light-gray: #d1dade;           // Default label, badget
$label-badget-color: #5e5e5e;
$light-blue: #f3f6fb;

$border-color: #ddd; 
$btn-border-radius: 3px;

/* Navigation */
$nav-bg: #383838;
$nav-text-color: #fff;
